.navBar{
    position: fixed;
    top: 0;
    background: transparent;
    width: 100%;
    height: 80px;
    padding: 0 50px 0 50px !important;
    font-size: 20px;
    z-index: 1;
    line-height: 80px;
    color: white;
}

.scrolling{
    background: black;
    transition: all 0.5s ease;
}

.navbar-logo{
    height: 80px;
    line-height: 80px;
    color: white;
    cursor: pointer;
}

.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
}

.center { 
    display: flex;
}
.separation {
    margin-left: 30px;
    
}

@media (max-width: 1000px) {  
  .navbar-nav{
        background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
        padding: 10px;
        margin-top: 10px;
  }

  .nav-link{
    border-bottom: 1px solid white;
    padding: 10px !important;
  }
  .navbar-toggler{
    /* margin-right: 15px; */
    padding: 10px !important;
  }

  .navbar-nav{
    margin-right: 15px;
  }
}