.carousel{
    width: 70% !important;
    padding-bottom: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: auto;
}

.carousel-control-prev-icon , .carousel-control-next-icon {
    filter: invert(200%);
    font-size: 25px;
}

@media (min-width: 1000px) {  
  .carousel{
    display: none;
  }
}
